.bg-barra{
    background-color: #051B54;
    color: #fff;
}

body{
    font-family: Verdana;
}

.text-barra{
    font-family: 'Gill Sans';
    font-weight: 800;
    font-size: 18px;
   
}

.text-formulario{
    color: #051B54;

}

.bg_obarra{
    background-color: #62DAD3;
}

.bg-btnini{
    background-color:  #FFFFFF33;
    color:#fff;
    width: auto;
    height: auto;
  /*  border-radius: 1em 1em;*/
 
    
}

.esp{
    margin-top: 0.2%;
}

.bt-inicio:hover{
    background-color: #ffffff36;
}

.bt-inicio:active{
    transform: scale(0.9);
}


.txt-subralla{
    text-decoration: none;
    font-weight: 500;
}