.bg-barra{
    background-color: #051B54;
    color: #fff;
}

body{
    font-family: Verdana;
}

.text-barra{
    font-family: 'Gill Sans';
    font-weight: 600;
   
}

.text-formulario{
    color: #051B54;

}

.bg_obarra{
    background-color: #62DAD3;
}

.bt-inicio{
    background-color:  #FFFFFF33;
    color:#fff;
    width: auto;
    height: auto;
    border-radius: 1em 1em;;
 
    
}

.bt-inicio:hover{
    background-color: #ffffff36;
}

.bt-inicio:active{
    transform: scale(0.9);
}

